<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         beStrictAboutTestsThatDoNotTestAnything="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertDeprecationsToExceptions="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
>
    <testsuites>
        <testsuite name="php73">
            <file phpVersion="7.3.0" phpVersionOperator="==">./tests/Php73Test.php</file>
        </testsuite>
        <testsuite name="php74">
            <file phpVersion="7.4.0" phpVersionOperator=">=">./tests/SerializerTest.php</file>
            <file phpVersion="7.4.0" phpVersionOperator=">=">./tests/SignedSerializerTest.php</file>
            <file phpVersion="7.4.0" phpVersionOperator=">=">./tests/SignedSerializerTest.php</file>
            <file phpVersion="7.4.0" phpVersionOperator=">=">./tests/ReflectionClosure1Test.php</file>
            <file phpVersion="7.4.0" phpVersionOperator=">=">./tests/ReflectionClosure2Test.php</file>
            <file phpVersion="7.4.0" phpVersionOperator=">=">./tests/ReflectionClosure3Test.php</file>
            <file phpVersion="7.4.0" phpVersionOperator=">=">./tests/ReflectionClosure4Test.php</file>
            <file phpVersion="7.4.0" phpVersionOperator=">=">./tests/ReflectionClosure5Test.php</file>
        </testsuite>
        <testsuite name="php80">
            <file phpVersion="8.0.0-dev" phpVersionOperator=">=">./tests/ReflectionClosurePhp80Test.php</file>
            <file phpVersion="8.0.0-dev" phpVersionOperator=">=">./tests/SerializerPhp80Test.php</file>
        </testsuite>
        <testsuite name="php81">
            <file phpVersion="8.1.0-dev" phpVersionOperator=">=">./tests/ReflectionClosurePhp81Test.php</file>
            <file phpVersion="8.1.0-dev" phpVersionOperator=">=">./tests/SerializerPhp81Test.php</file>
        </testsuite>
    </testsuites>
</phpunit>
