<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         backupGlobals="false"
         beStrictAboutTestsThatDoNotTestAnything="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         cacheDirectory=".phpunit.cache"
         backupStaticProperties="false">
    <testsuites>
        <testsuite name="Tests">
            <file>tests/ReflectionClosure1Test.php</file>
            <file>tests/ReflectionClosure2Test.php</file>
            <file>tests/ReflectionClosure3Test.php</file>
            <file>tests/ReflectionClosure4Test.php</file>
            <file>tests/ReflectionClosure5Test.php</file>
            <file>tests/ReflectionClosureBracedNamespaceTest.php</file>
            <file>tests/ReflectionClosureNonBracedNamespaceTest.php</file>
            <file>tests/SerializerTest.php</file>
            <file>tests/SignedSerializerTest.php</file>
        </testsuite>
        <testsuite name="php81">
            <file phpVersion="8.1.0" phpVersionOperator=">=">tests/ReflectionClosurePhp80Test.php</file>
            <file phpVersion="8.1.0" phpVersionOperator=">=">tests/ReflectionClosurePhp81Test.php</file>
            <file phpVersion="8.1.0" phpVersionOperator=">=">tests/SerializerPhp80Test.php</file>
            <file phpVersion="8.1.0" phpVersionOperator=">=">tests/SerializerPhp81Test.php</file>
        </testsuite>
        <testsuite name="php84">
            <file phpVersion="8.4.0" phpVersionOperator=">=">tests/Php84Test.php</file>
        </testsuite>
    </testsuites>
</phpunit>
